body {
    overflow: hidden;
}
.fs {
    position: fixed; 
    right: 0; 
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
    width: auto; 
    height: auto; 
    z-index: -100;
    background: url('../resources/images/wallpaper.png') no-repeat;
    background-size: cover;
    filter: alpha(opacity = 80); 
    opacity: .95;
}